<% include ./partials/header %>
<link rel="stylesheet" href="../../css/lightslider.min.css">
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <p>Home/Shop/Single product</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-12">
        <h2>About Us</h2>

        The stress of moving things out of storage and getting rid them is a hustle that most people don’t like to do, its stressful, tiring and sometimes annoying to comb through all the dust and heavy lifting to get things out. Sometimes there is no motivation to get those things out even if they are not in use and occupying space.
        <br/><br/>
        That is where our platform comes in it gives the users the opportunity to sell these old items that are just sitting in storage. Users simply register on the app and upload items they wish to get ride of at a cost, other users interested in these place a request for the item and go pick it up. It provides convenient to the seller because, he/ she makes money off the item and the doesn’t have to do delivery as the buyer will come pick it up and the buyer also gets items they need at affordable prices.
        <br/><br/>
        We realized that sometimes people order things that are delivered and do not look the same as the pictures they saw when ordering. That is why our platform allows the users over short range to do transaction in person, where the buyer sees exactly what he/she is getting.
        <br/><br/>
        Our team is made up of 5 members, our combined experience helps us create a diverse and technical environment, with people experiences in tools such us MySQL, JavaScript, node js, express, bootstraps and more.

      </div>
    </div>
  </div>
</div>


<!-- free shipping here -->
<section class="shipping_details section_padding border_top">
    <div class="container">
        <center>
            <h1>How it Works</h1><br />
            <hr />
        </center>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="img/icon/icon_1.png" alt="">
                    <h4>Contact Seller</h4>
                    <p>Send message to the seller and if the he/she accepts to sell to you. He will create an order for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="img/icon/icon_2.png" alt="">
                    <h4>Schedule A meeting</h4>
                    <p>Schedule a date to go check out the item.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="img/icon/icon_3.png" alt="">
                    <h4>Make Payment & Collect</h4>
                    <p>If you are ok with the item , make payment onsight and collect your item.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="img/icon/icon_4.png" alt="">
                    <h4>Rate Seller</h4>
                    <p>Don't forget to rate you seller and if you are seller don't forget to mark the item as sold so you can be rated.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- free shipping end -->

<!--================End Single Product Area =================-->

<!-- product_list part end-->
<% include ./partials/footer %>
