<% include ./partials/header %>
<link rel="stylesheet" href="css/lightslider.min.css">
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home/Shop/Single product</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Single Product Area =================-->
  <div class=" section_padding">
    <div class="container">
      <div class="row ">
        <div class="col-lg-5">
          <div class="">
            <h2>Item Image Rules</h2>
            1. All images should not violet any copy right rules, eg do not copy images online and upload them as your own.
            <br/>
            2.
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <p>
                Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time.
            </p>
            <div class="review_box">
                <h4>Upload An Item to sell</h4>
                <div style="color:#0000ff"><%=message %></div>
                <form class="row contact_form" action="/upload" method="post" enctype="multipart/form-data">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="file" class="form-control" name="file"  multiple/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Item name" required/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="number" class="form-control" name="price" placeholder="Item Price" required/>
                      <input type="hidden" class="form-control" name="user_id" id="seller_id" required/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="description" rows="1" placeholder="Describe the Item in details" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" class="form-control">
                      <input type="radio" name="category" selected value="Electronics"/>&nbspElectronics<br/>
                      <input type="radio" name="category" value="Clothes"/>&nbspClothes<br/>
                      <input type="radio" name="category" value="House Hold items"/>&nbspHouse Hold items<br/>
                      <input type="radio" name="category" value="Furniture"/>&nbspFurniture<br/>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->


<% include ./partials/footer %>
<script>
  var user=JSON.parse(localStorage.getItem("user"));
  $("#seller_id").val(user.id);
</script>